body{
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: sans-serif;
}
#header-nav{
    background-color: #61122f;
    border: 0px;
    border-radius: 0px;
    height: 250px;
}
#logo-img{
    background: url('..images/logo-final.png') no-repeat;
    height: 200px;
    width: 200px;
    
}